<h1 class = 'title'> Books </h1>

<% @book.each do |book| %>
    <p>  <%= book.author %>
    <br>
    <%= link_to book.title , "/books/#{book.id}" %>
    <br>
        <%= book.year %> 
    </p>
<% end %> 

<%= link_to "Create new book", '/books/new', :class => 'link' %>

<%= link_to "Menu page", about_page_url %> 