<h1 class = 'title'> Add a Book </h1>
  <div id= 'container'> 

  <div id = 'right_column'> 
    <img src = 'https://cdn.elearningindustry.com/wp-content/uploads/2016/05/top-10-books-every-college-student-read-1024x640.jpeg' alt = "Picture unavailable" class = 'image_size'> 
  </div> 


  <div id = 'left_column'> 
  <h1> <p class = 'title_height'> New Book Form </p> </h2> 

<%= form_for @book do |f|  %>

  <p>
    <%= f.label :author %>  
    <br>
    <%= f.text_field :author %>
  </p>
  
  <p>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :year %>
    <br>
    <%= f.text_field :year %>
  </p>
  
  <p>
    <%= f.submit "Save" %>
  </p>

<% end %>

</div> 

</div> 

<br>

<%= link_to "See all books", books_url, :class => 'link' %>

<%= link_to "Menu page", 'about_page_path' %> 