<h1> Add a Book </h1>
  <div class = 'new_div1'> 

  <div class = 'new_div1_right_side'> 
    <%= image_tag('https://cdn.elearningindustry.com/wp-content/uploads/2016/05/top-10-books-every-college-student-read-1024x640.jpeg', :class => 'new_div1_right_side_image') %> 
  </div> 


<div class = 'new_div1_left_side'> 
<h1> New Book Form </h1> 

<div class = 'new_div1_left_side_form'> 
<%= form_for @book do |f|  %>

  <p>
    <%= f.label :author %>  
    <br>
    <%= f.text_field :author %>
  </p>
  
  <p>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :year %>
    <br>
    <%= f.text_field :year %>
  </p>
  
  <p>
    <%= f.submit "Save" %>
  </p>

<% end %>
</div> 

</div> 

</div> 

<br>

<%= link_to "See all books", books_url %>

<%= link_to "Menu page", about_page_path %> 