<h1> <%= @book.title %> </h1> 
<br> 
    <p>    
        <%= @book.author %>
        <br>
        <%= @book.title %>
        <br>
        <%= @book.year %> 
    </p>

    <%= link_to "Edit book", edit_book_url %>

    <br>

    <%= link_to "Back to all books", books_url %>

    <br>

    <%= link_to "Delete", delete_books_path(@book), method: :delete, data: {confirm: "Are you sure you want to delete this book?"}  %>
 