<!DOCTYPE html>
<html>
  <head>
    <title>BookCatalogueApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div class = 'top_menu'>
  <h2> <p> <%= link_to "About us", about_page_path %> </p>  </h2> 
  <h2> <p> <%= link_to "Create New Book", new_book_path %> </p> </h2> 
  <%= image_tag('https://cdn.lifehack.org/wp-content/uploads/2015/03/books-everyone-should-read.jpeg', :class => ('image_in_top_menu')) %> 
  <h2> <p> <%= link_to "Our Books", books_path %> </p> </h2>  
  <h2> <p> <%= link_to "Our Mission", our_mission_path %> </p> </h2> 
</div>

    <%= yield %>



  </body>
</html>
